html { 
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
font-family: 'PT Sans Narrow', sans-serif;
  background: url(img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.h{
	text-align: center;
	color: #FABE19;
	font-size: 80px;
}

img{
	width:100px;
	height:auto;

}
img:hover { 
    cursor: pointer;
}
.active{
	border : 2px solid red;
}



/*==================*/



.button {
  display: inline-block;
  margin: auto;
  width: 400px;
  height: 80px;
  border: none;
  background: #1abc9c;
  position: relative;
  overflow: hidden;
}
.button:before {
  content: '';
  background: #148f77;
  width: 800px;
  height: 600px;
  position: absolute;
  -webkit-transform: translate(-1000px, -400px) rotate(130deg);
          transform: translate(-1000px, -400px) rotate(130deg);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}
.button:after {
  content: attr(data-word);
  color: white;
  font-size: 2em;
  position: relative;
  z-index: 100;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-weight: 200;
}
.button:hover:after {
  font-size: 2.2em;
}
.button:hover:before {
  -webkit-transform: translate(-200px, -400px) rotate(130deg);
          transform: translate(-200px, -400px) rotate(130deg);
}


